@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');



:root {
  --menu-hover-bg: rgba(255, 255, 255, 0.2);
  --primary-bg-color: #0062AC;
  --primary-text-color: #ffffff;
  --secondary-bg-color: #ffffff;
  --secondary-border-color: #96D2BE;
  --secondary-text-color: #000000;
  --menu-bg-gradient: linear-gradient(204deg, #0446ae 36.61%, #000000 114.28%);
  --box-padding: 1.5rem;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

* {
  font-family: 'Poppins', sans-serif;
}

body {
  line-height: 1;
  -webkit-font-smoothing: antialiased;
}

ol,
ul {
  list-style: none;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

#root,
#__next {
  isolation: isolate;
}